@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Asty CF Std";
    src: url("~/assets/fonts/AstyCFStd-Light.woff2") format("woff2"), url("~/assets/fonts/AstyCFStd-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Asty CF Std";
    src: url("~/assets/fonts/AstyCFStd-Bold.woff2") format("woff2"), url("~/assets/fonts/AstyCFStd-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Asty CF Std";
    src: url("~/assets/fonts/AstyCFStd-Thin.woff2") format("woff2"), url("~/assets/fonts/AstyCFStd-Thin.woff") format("woff");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Asty CF Std";
    src: url("~/assets/fonts/AstyCFStd-Medium.woff2") format("woff2"), url("~/assets/fonts/AstyCFStd-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Asty CF Std";
    src: url("~/assets/fonts/AstyCFStd-ExtraBold.woff2") format("woff2"), url("~/assets/fonts/AstyCFStd-ExtraBold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

.fade-enter-active,
.fade-leave-active {
    transition: 0.2s all ease-out;
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
}

.fade-in-out-leave-active,
.fade-in-out-enter-active {
    transition: 0.2s opacity linear;
}

.fade-in-out-leave-to,
.fade-in-out-enter-from {
    opacity: 0;
}

body {
    font-family: "Asty CF Std", sans-serif;
    background: #39003b;
    color: white;
    position: relative;
    min-height: 100vh;
}

/* input {
    border-radius: 100rem;
    color: white;
    padding: 0.5rem 1rem;
    background: #b98ecc69;
}

input::placeholder {
    color: rgba(255, 255, 255, 0.546);
}

input:focus {
    outline: 2px solid #b98ecc69;
} */

.sidebar .router-link-exact-active {
    background: #fc2c80;
    opacity: 1;
}

.table-nohead thead {
    display: none !important;
}

table.vgt-table {
    border: none !important;
    /* border-collapse: separate !important;
    border-spacing: 0 1em !important; */
    background: red;
    border-collapse: collapse;
    border-radius: 30px;
    border-style: hidden;
    box-shadow: 0 0 0 1px #666;
}

table.vgt-table * {
    border: none !important;
    color: white;
}

table.vgt-table tr {
    border: 5px solid #39003b !important;
    border-radius: 10px !important;
}

table.vgt-table td + td {
    padding-left: 0 !important;
}

table.vgt-table tr:nth-child(odd) {
    background: #4e0351;
}
table.vgt-table tr:nth-child(even) {
    background: #420544;
}

table.vgt-table tr:first-child td:first-child {
    border-top-left-radius: 10px !important;
}
table.vgt-table tr:first-child td:last-child {
    border-top-right-radius: 10px !important;
}

table.vgt-table tr:last-child td:first-child {
    border-bottom-left-radius: 10px !important;
}
table.vgt-table tr:last-child td:last-child {
    border-bottom-right-radius: 10px !important;
}

table.vgt-table tr:first-child td {
    border-top-style: solid !important;
}
table.vgt-table tr td:first-child {
    border-left-style: solid !important;
}
