@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Asty CF Std";
    src: url("~/assets/fonts/AstyCFStd-Light.woff2") format("woff2"), url("~/assets/fonts/AstyCFStd-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Asty CF Std";
    src: url("~/assets/fonts/AstyCFStd-Bold.woff2") format("woff2"), url("~/assets/fonts/AstyCFStd-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Asty CF Std";
    src: url("~/assets/fonts/AstyCFStd-Thin.woff2") format("woff2"), url("~/assets/fonts/AstyCFStd-Thin.woff") format("woff");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Asty CF Std";
    src: url("~/assets/fonts/AstyCFStd-Medium.woff2") format("woff2"), url("~/assets/fonts/AstyCFStd-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Asty CF Std";
    src: url("~/assets/fonts/AstyCFStd-ExtraBold.woff2") format("woff2"), url("~/assets/fonts/AstyCFStd-ExtraBold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

.fade-enter-active,
.fade-leave-active {
    transition: 0.2s all ease-out;
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
}

.fade-in-out-leave-active,
.fade-in-out-enter-active {
    transition: 0.2s opacity linear;
}

.fade-in-out-leave-to,
.fade-in-out-enter-from {
    opacity: 0;
}

body {
    font-family: "Asty CF Std", sans-serif;
    background: #000000;
    color: white;
    position: relative;
    min-height: 100vh;
}

body::after {
    content: "";
    position: absolute;
    inset: 0;
    background: url(~/assets/images/balapi_bg.png);
    background-size: cover;
    opacity: 1;
    z-index: -1;
}

input {
    border-radius: 100rem;
    color: white;
    padding: 0.5rem 1rem;
    background: #b98ecc69;
}

input::placeholder {
    color: rgba(255, 255, 255, 0.546);
}

input:focus {
    outline: 2px solid #b98ecc69;
}
